name: build

on:
  push:
    branches:
    - main
  pull_request: { }

defaults:
  run:
    shell: bash

jobs:
  build:
    if: ${{
      (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/'))
      || (github.event_name == 'push' && !startsWith(github.event.head_commit.message, '[push-back]'))
      || github.event_name != 'push'
      }}
    concurrency:
      group: build-${{github.ref}}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        token: ${{secrets.PUSH_BACK_TOKEN}}
        submodules: recursive
        lfs: true
        fetch-depth: 1


    # $$$sync-with-template-modifiable: validation $$$

    - name: Run current action
      id: current
      uses: ./
      with:
        dryRun: 'true'
        githubToken: ${{github.token}}

    # $$$sync-with-template-modifiable-end$$$
