name: build

on:
  push:
    branches:
    - main
  pull_request: { }

defaults:
  run:
    shell: bash

jobs:
  build:
    if: ${{
      (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/'))
      || (github.event_name == 'push' && !startsWith(github.event.head_commit.message, '[push-back]'))
      || github.event_name != 'push'
      }}
    concurrency:
      group: build-${{github.ref}}
      cancel-in-progress: true
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - name: Checkout repository
      uses: actions/checkout@v6
      with:
        token: ${{secrets.PUSH_BACK_TOKEN}}
        submodules: recursive
        lfs: true
        fetch-depth: 1


    # $$$sync-with-template-modifiable: validation $$$

    - name: Change origin
      env:
        GITHUB_TOKEN: ${{secrets.PUSH_BACK_TOKEN}}
      run: |
        gh api \
          --method PUT \
          --header "Accept: application/vnd.github+json" \
          "/repos/${{github.repository}}/contents/.last-build-date" \
          --field message="[push-back] origin change to test" \
          --field content="$(date +"%Y-%m-%d %H:%M:%S" | base64 -w0)" \
          --field sha="${{github.sha}}"

    - name: Generate a file to commit
      run: |
        echo "This is a test file" > test-file.txt

    - name: Run current action
      id: current
      uses: ./
      with:
        dryRun: 'true'
        message: 'Test message'

    - name: Validate output
      run: |
        if [ "${{steps.current.outputs.result}}" != "remote-changed" ]; then
          echo "::error::Unexpected result: ${{steps.current.outputs.result}}"
          exit 1
        fi

    # $$$sync-with-template-modifiable-end$$$


    - name: Get version
      id: version
      run: |
        VERSION=$(yq '.version' action.yml)
        echo "version=$VERSION" | tee -a $GITHUB_OUTPUT
